---
---

@import "{{ site.theme }}";

body {
 background-color: lightgray;
 margin-left:10%;
 margin-right:10%;
}

.main-content {
 background-color: white;
}

.page-header {
 background-color: darkblue;
 color: white;
 }
